<section id="login">
	<div class="container-login">
		<div class="item1">
			<img src="../img/home.png" alt="" />
		</div>
		<div class="item2">
			<div class="item-right">
				<h2>dev_snake</h2>
				<span class="geeting">Welcome Back!</span>
				<form class="form-login" method="POST" action="signup/addUser">
					<input type="text" placeholder="Enter Username" name="username" />
					<input type="password" placeholder="Enter password" name="password" />
					<input type="email" placeholder="Enter email" name="email" />
					<button id="btnSignIn" type="submit"> SignUp</button>

				</form>
				<div class="option-login">
					<button><i class="bx bxl-google"></i> Continue with Google</button>
					<button><i class="bx bxl-twitter"></i>Continue with Twiter</button>
				</div>
			</div>
		</div>
	</div>
</section>